

.container {
  margin: 20px auto;
  width: 750px;
  height: 350px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-image:url("logo1.png");
}

#login {
  margin-left: 400px;
}