<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="green_ghost.js"></script>
  <script type="text/javascript" src="application.js"></script>
</head>
<body>

<h1>Green Ghost Mystery</h1>

<div class="board">
  <div class="column">
      <div class="one"   ></div>
      <div class="two"   ></div>
      <div class="three" ></div>
      <div class="four"  ></div>
      <div class="five"  ></div>
      <div class="six"   ></div>
  </div>
</div>


</body>
</html>
