<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/mycss.css">

</head>
<body>
 <div class='container'>
 </div>
 <div id="login">

  <button> <a href="/sessions/new"> Sign In </a></button>


  <button> <a href="/users/new"> Sign Up </a></button>
</div>
</body>
</html
