<div> My Mystery Machine </div>
<br>
<br>
<div class="items">
  <%= @happy_user.username %>'s Items:
</div>

<div>
  <ul>
  <% @items.each do |item| %>

  <li> <a href='/profile/item/<%= item.id %>'> <%= item.name %> </li>

  <% end %>
</ul>
<form action="/profile/item/new" class="button">
    <input type="submit" value="new item">
</form>


